@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300&display=swap");
@tailwind base;
@tailwind components;

@tailwind utilities;

body {
  direction: rtl;
}

.d-ltr {
  direction: ltr;
}
.heroImg {
  height: 600px;
}

.right {
  right: 48%;
}

.gr {
  background: rgb(228, 115, 94);
  background: linear-gradient(
    90deg,
    rgba(228, 115, 94, 1) 0%,
    rgba(202, 82, 62, 1) 100%
  );
}

.image-tr > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}
.image-tr:hover > * {
  transform: translateY(0);
}
.mtop {
  margin-top: -56px;
}

.ts {
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.h {
  height: 500px;
}
